body{
  background: #012;
  color: #fff;
  padding: 20px;
}
h2{
  display: block;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.8rem;
  padding-left: 2px;
  color: rgba(255, 255, 255, .8);
}
label{
  display: block;
  text-transform: uppercase;
  font-size: .8rem;
  line-height: .8rem;
  padding-left: 2px;
  color: rgba(255, 255, 255, .8);
}
input[type='text']{
  background: transparent;
  border: none;
  margin-bottom: 10px;
  color: #FFF;
  font-size: 1.4rem;
}
.summary{
  background: #158;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  align-items: center;
}
.split button{
  border-radius: 99999999px;
  border: none;
  width: 20px;
  height: 20px;
  background: #38d;
  color: #FFF;
  cursor: pointer;
}
.split-controll{
  display: flex;
  align-items: center;
}
.split-controll span{
  display: block;
  padding: 0 3px;
}
.summary label{
  line-height: .8rem;
}
.result {
  text-align: right;
}